<a href="https://colab.research.google.com/github/hrmufid/Mini-Project-3/blob/main/Mini_Project_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# import shap

import warnings
warnings.filterwarnings('ignore')

In [2]:
# initialize random state
random_state = 42

# set plot style for whole notebook
sns.set_style('darkgrid')

In [3]:
# IMPORT DATA
data = pd.read_csv('https://raw.githubusercontent.com/hrmufid/Mini-Project-3/main/marketing_campaign_data.csv')

df = data.copy()
df.head()

,Unnamed: 0,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,0,5524,1957,S1,Lajang,58138000.0,0,0,04-09-2012,58,...,7,0,0,0,0,0,0,3,11,1
1,1,2174,1954,S1,Lajang,46344000.0,1,1,08-03-2014,38,...,5,0,0,0,0,0,0,3,11,0
2,2,4141,1965,S1,Bertunangan,71613000.0,0,0,21-08-2013,26,...,4,0,0,0,0,0,0,3,11,0
3,3,6182,1984,S1,Bertunangan,26646000.0,1,0,10-02-2014,26,...,6,0,0,0,0,0,0,3,11,0
4,4,5324,1981,S3,Menikah,58293000.0,1,0,19-01-2014,94,...,5,0,0,0,0,0,0,3,11,0

# Exploratory Data Analysis

## Context
Anda diberikan tanggung jawab untuk mengolah data historical marketing campaign guna menaikkan performa dan menyasar customer yang tepat agar dapat bertransaksi di platform perusahaan. Disini anda akan belajar Bagaimana mengolah data, membersihkan data, membuat machine learning model, dan mengambil kesimpulan dan insight bisnis yang dapat direkomendasikan terkait marketing campaign yang berjalan.

## 1.1 Descriptive Analysis

In [4]:
# check columns and NULL / Non-null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           2240 non-null   int64
 1   ID                   2240 non-null   int64
 2   Year_Birth           2240 non-null   int64
 3   Education            2240 non-null   object
 4   Marital_Status       2240 non-null   object
 5   Income               2216 non-null   float64
 6   Kidhome              2240 non-null   int64
 7   Teenhome             2240 non-null   int64
 8   Dt_Customer          2240 non-null   object
 9   Recency              2240 non-null   int64
 10  MntCoke              2240 non-null   int64
 11  MntFruits            2240 non-null   int64
 12  MntMeatProducts      2240 non-null   int64
 13  MntFishProducts      2240 non-null   int64
 14  MntSweetProducts     2240 non-null   int64
 15  MntGoldProds         2240 non-null   int64
 16  NumDealsPurchases    2240 non-null   int64
 17  NumWebPurchases      2240 non-null   int64
 18  NumCatalogPurchases  2240 non-null   int64
 19  NumStorePurchases    2240 non-null   int64
 20  NumWebVisitsMonth    2240 non-null   int64
 21  AcceptedCmp3         2240 non-null   int64
 22  AcceptedCmp4         2240 non-null   int64
 23  AcceptedCmp5         2240 non-null   int64
 24  AcceptedCmp1         2240 non-null   int64
 25  AcceptedCmp2         2240 non-null   int64
 26  Complain             2240 non-null   int64
 27  Z_CostContact        2240 non-null   int64
 28  Z_Revenue            2240 non-null   int64
 29  Response             2240 non-null   int64
dtypes: float64(1), int64(26), object(3)
memory usage: 525.1+ KB

**Tidak ada kolom yg memiliki nilai NULL**

In [5]:
# cek apakah ada data customer yang duplicate
df[df['ID'].duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, ID, Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntCoke, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Z_CostContact, Z_Revenue, Response]
Index: []

[0 rows x 30 columns]

In [6]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntCoke,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,S1,Lajang,58138000.0,0,0,04-09-2012,58,635000,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,S1,Lajang,46344000.0,1,1,08-03-2014,38,11000,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,S1,Bertunangan,71613000.0,0,0,21-08-2013,26,426000,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,S1,Bertunangan,26646000.0,1,0,10-02-2014,26,11000,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,S3,Menikah,58293000.0,1,0,19-01-2014,94,173000,...,5,0,0,0,0,0,0,3,11,0

**Tidak ada data customer yang duplicated**

In [7]:
df.describe().round(2)

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntCoke,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2240.00,2240.00,2.216000e+03,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,...,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.0,2240.0,2240.00
mean,5592.16,1968.81,5.224725e+07,0.44,0.51,49.11,303935.71,26302.23,166950.00,37525.45,...,5.32,0.07,0.07,0.07,0.06,0.01,0.01,3.0,11.0,0.15
std,3246.66,11.98,2.517308e+07,0.54,0.54,28.96,336597.39,39773.43,225715.37,54628.98,...,2.43,0.26,0.26,0.26,0.25,0.11,0.10,0.0,0.0,0.36
min,0.00,1893.00,1.730000e+06,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.0,11.0,0.00
25%,2828.25,1959.00,3.530300e+07,0.00,0.00,24.00,23750.00,1000.00,16000.00,3000.00,...,3.00,0.00,0.00,0.00,0.00,0.00,0.00,3.0,11.0,0.00
50%,5458.50,1970.00,5.138150e+07,0.00,0.00,49.00,173500.00,8000.00,67000.00,12000.00,...,6.00,0.00,0.00,0.00,0.00,0.00,0.00,3.0,11.0,0.00
75%,8427.75,1977.00,6.852200e+07,1.00,1.00,74.00,504250.00,33000.00,232000.00,50000.00,...,7.00,0.00,0.00,0.00,0.00,0.00,0.00,3.0,11.0,0.00
max,11191.00,1996.00,6.666660e+08,2.00,2.00,99.00,1493000.00,199000.00,1725000.00,259000.00,...,20.00,1.00,1.00,1.00,1.00,1.00,1.00,3.0,11.0,1.00

In [8]:
# categoricals columns
cat = df.select_dtypes(include=['object'])
cat.describe()

       Education Marital_Status Dt_Customer
count       2240           2240        2240
unique         5              6         663
top           S1        Menikah  31-08-2012
freq        1127            864          12

In [10]:
# ubah semua kolom menjadi huruf kecil
df.columns = df.columns.str.lower()
df.rename(columns=lambda x: x.lower(), inplace=True)
df.head()

,id,year_birth,education,marital_status,income,kidhome,teenhome,dt_customer,recency,mntcoke,...,numwebvisitsmonth,acceptedcmp3,acceptedcmp4,acceptedcmp5,acceptedcmp1,acceptedcmp2,complain,z_costcontact,z_revenue,response
0,5524,1957,S1,Lajang,58138000.0,0,0,04-09-2012,58,635000,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,S1,Lajang,46344000.0,1,1,08-03-2014,38,11000,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,S1,Bertunangan,71613000.0,0,0,21-08-2013,26,426000,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,S1,Bertunangan,26646000.0,1,0,10-02-2014,26,11000,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,S3,Menikah,58293000.0,1,0,19-01-2014,94,173000,...,5,0,0,0,0,0,0,3,11,0

conversion rate = jumlah response / num web visits month

## 1.2 Univariate Analysis

In [17]:
df.groupby(['Recency', 'MntCoke', 'MntFruits', 'MntMeatProducts']).count()

                                           Unnamed: 0  ID  Year_Birth  \
Recency MntCoke MntFruits MntMeatProducts
0       3000    10000     8000                      1   1           1
        5000    0         3000                      1   1           1
        6000    16000     24000                     1   1           1
        10000   0         1000                      1   1           1
        16000   4000      12000                     1   1           1
...                                               ...  ..         ...
99      273000  86000     208000                    1   1           1
        321000  11000     309000                    1   1           1
        362000  17000     398000                    1   1           1
        372000  18000     126000                    1   1           1
        453000  38000     279000                    1   1           1

                                           Education  Marital_Status  Income  \
Recency MntCoke MntFruits MntMeatProducts
0       3000    10000     8000                     1               1       1
        5000    0         3000                     1               1       1
        6000    16000     24000                    1               1       1
        10000   0         1000                     1               1       1
        16000   4000      12000                    1               1       1
...                                              ...             ...     ...
99      273000  86000     208000                   1               1       1
        321000  11000     309000                   1               1       1
        362000  17000     398000                   1               1       1
        372000  18000     126000                   1               1       1
        453000  38000     279000                   1               1       1

                                           Kidhome  Teenhome  Dt_Customer  \
Recency MntCoke MntFruits MntMeatProducts
0       3000    10000     8000                   1         1            1
        5000    0         3000                   1         1            1
        6000    16000     24000                  1         1            1
        10000   0         1000                   1         1            1
        16000   4000      12000                  1         1            1
...                                            ...       ...          ...
99      273000  86000     208000                 1         1            1
        321000  11000     309000                 1         1            1
        362000  17000     398000                 1         1            1
        372000  18000     126000                 1         1            1
        453000  38000     279000                 1         1            1

                                           MntFishProducts  ...  \
Recency MntCoke MntFruits MntMeatProducts                   ...
0       3000    10000     8000                           1  ...
        5000    0         3000                           1  ...
        6000    16000     24000                          1  ...
        10000   0         1000                           1  ...
        16000   4000      12000                          1  ...
...                                                    ...  ...
99      273000  86000     208000                         1  ...
        321000  11000     309000                         1  ...
        362000  17000     398000                         1  ...
        372000  18000     126000                         1  ...
        453000  38000     279000                         1  ...

                                           NumWebVisitsMonth  AcceptedCmp3  \
Recency MntCoke MntFruits MntMeatProducts
0       3000    10000     8000                             1             1
        5000    0         3000                             1             1
        6000    16000     24000                            1             1
        10000   0         1000                             1             1
        16000   4000      12000                            1             1
...                                                      ...           ...
99      273000  86000     208000                           1             1
        321000  11000     309000                           1             1
        362000  17000     398000                           1             1
        372000  18000     126000                           1             1
        453000  38000     279000                           1             1

                                           AcceptedCmp4  AcceptedCmp5  \
Recency MntCoke MntFruits MntMeatProducts
0       3000    10000     8000                        1             1
        5000    0         3000                        1             1
        6000    16000     24000                       1             1
        10000   0         1000                        1             1
        16000   4000      12000                       1             1
...                                                 ...           ...
99      273000  86000     208000                      1             1
        321000  11000     309000                      1             1
        362000  17000     398000                      1             1
        372000  18000     126000                      1             1
        453000  38000     279000                      1             1

                                           AcceptedCmp1  AcceptedCmp2  \
Recency MntCoke MntFruits MntMeatProducts
0       3000    10000     8000                        1             1
        5000    0         3000                        1             1
        6000    16000     24000                       1             1
        10000   0         1000                        1             1
        16000   4000      12000                       1             1
...                                                 ...           ...
99      273000  86000     208000                      1             1
        321000  11000     309000                      1             1
        362000  17000     398000                      1             1
        372000  18000     126000                      1             1
        453000  38000     279000                      1             1

                                           Complain  Z_CostContact  Z_Revenue  \
Recency MntCoke MntFruits MntMeatProducts
0       3000    10000     8000                    1              1          1
        5000    0         3000                    1              1          1
        6000    16000     24000                   1              1          1
        10000   0         1000                    1              1          1
        16000   4000      12000                   1              1          1
...                                             ...            ...        ...
99      273000  86000     208000                  1              1          1
        321000  11000     309000                  1              1          1
        362000  17000     398000                  1              1          1
        372000  18000     126000                  1              1          1
        453000  38000     279000                  1              1          1

                                           Response
Recency MntCoke MntFruits MntMeatProducts
0       3000    10000     8000                    1
        5000    0         3000                    1
        6000    16000     24000                   1
        10000   0         1000                    1
        16000   4000      12000                   1
...                                             ...
99      273000  86000     208000                  1
        321000  11000     309000                  1
        362000  17000     398000                  1
        372000  18000     126000                  1
        453000  38000     279000                  1

[2031 rows x 26 columns]

step by step EDA <br>
raw data into usefull data
1. numerical
2. categorical
3. missing value (visualisasi dengan semua grafik)
4. outliers (pakai box plot)
5. cleaning data

# TASK 1 Analisis Convertion Rate

Analisis conversion rate merupakan suatu pencarian insight data persentase pengunjung website serta tindakann apa saja yang mereka lakukan selama mengunjungi situs, dan apakah tindakan mereka menghasilkan transaksi pembelian atau tidak selama berkunjung di website tersebut, hal in dapat dilakukan dengan melakukan featire engeenering pada variable data yang tersaji, sehingga dapat menghasilkan satu kolom baru yaitu Conversion rate.

Setelah Conversion rate terbentuk, maka dapat dianalisis dengan variable lain seperti umur, penghasilan, pengeluaran, dll. sehingga dapat menemukan suatu pola perilaku konsumen.

> Tahapan
1.   Download Dataset
2.   Do feature engineering : conversion rate
3. Menghitung dan mengelompokkan 'umur' menjadi ke beberapa kelompok
4. Buatlah plot yang dapat menunjukkan hubungan antara conversion rate dan jenis user yang berpotensi lebih besar untuk merespon campaign
5. Interpretasi plot tersebut dan perhatikan, Apakah terdapat hubungan yang signifikan antara umur customer dengan conversion rate

In [ ]:
#